#map-page{
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;

  i{
    display: block;
  }

  #map-container{
    position: relative;
    width: 100%;
    height: 100%;

    .icon{
      position: absolute;
      z-index: 1;
      top: 5px;
      right: 10px;
      
      .glyphicon{
        width: 35px;
        height: 35px;
        padding: 10px;
        background-color: white;
        color: black;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  #map{
    width: 100%;
    height: 100%;
  }

  #location-detail{
    display: none;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    left: 50%;

    .location-content{
      height: 100%;
      overflow-y: scroll;
      background-color: white;

      .location-header{
        background-color: $belinko-purple;
        padding: 10px 0;
        text-align: center;
        color: white;

        .btn {
          margin-top: 10px;
          margin-bottom: 5px;
        }

        img{
          background-color: white;
          width: 40px;
          height: 40px;
          padding: 2px;
          border: 1px solid white;
          border-radius: 50%;
        }

        .glyphicon {
          text-align: left;
          padding-left: 8px;
        }
      }

      .reviews{
        padding: 5px 15px;
      }
    }

    @media(max-width: $screen-sm-max) {
      position: static;
      .location-content {
        overflow-y: visible;
      }
    }
  }

  .half-width{
    width: 50% !important;
    display: inline-block !important;

    @media(max-width: $screen-sm-max){
      width: 100% !important;
      display: block !important;
      &:first-child {
        height: 200px !important;
      }
    }
  }

  #place-form{
    padding: 10px 15px;
    
    .btn-group{
      .btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .active {
        background-color: $belinko-purple;
        color: white;
      }
    }
  }
}
