<div id="home-page" ng-controller="HomeController">
  <div class="jumbotron">
    <h1>Belinko</h1>
    <p>The Friendly Food Finder</p>
    <a href="{{loginUrl}}" class="btn btn-belinko-purple btn-lg" ng-click="login()" role="button">Sign In</a>
    <a href="/my-account" class="btn btn-danger">my account</a>
  </div>
  <div class="container content">
    <h2>Your Friendly Food Finder</h2>
    <h3>Through Facebook and Google Places</h3>
    <p>
      Belinko combines the power of google places and facebook to 
      create a new experience for reviewing/finding your restaurants. 
      See what places your friends enjoy nearby, or share your 
      favorite places by writing your own reviews.
    </p>
  </div>
</div>
