<div class="reviews">
  <h2>Belinko Reviews</h2>
  <div ng-show="!reviews.length">
    <h3>There are no reviews for this place</h3>
    <button class="btn btn-primary"
            ng-click="showForm = true">Add Review</button>
  </div>
<!--  <div ng-show="!reviews || !reviews.length">
    <h3>There are no reviews for this place</h3>
    <button clas="btn btn-primary"
            ng-click="showForm = true">Add Review</button>
  </div> -->
  <div ng-repeat="review in reviews">
    <img src="{{review.user.thumbnail}}" />
    <b>{{review.user.name}}</b>
    <p>{{review.comment}}</p>
  </div>
</div>
