<div class="location-content">
  <div class="location-header">
    <i class="glyphicon glyphicon-asterisk"></i>
    <img src="{{place.icon}}" />
    <h2>{{place.name}}</h2>
    <i>{{place.formatted_address}}</i>
    <i>{{place.formatted_phone_number}}</i>
    <button class="btn btn-belinko-purple" 
            ng-click="config.showForm = true">Add Review</button>
  </div>
  <form id="place-form" ng-show="config.showForm" ng-submit="submitReview(review)">
    <div class="form-group">
      <div class="btn-group">
        <div><strong>I would recommend this place</strong></div>
        <label class="btn btn-default" ng-model="review.would_recommend" uib-btn-radio="true">Yes</label>
        <label class="btn btn-default" ng-model="review.would_recommend" uib-btn-radio="false">No</label>
      </div>
    </div>
    <div class="form-group">
      <label>Comment</label>
      <textarea ng-model="review.comment"
                ng-required="true"
                class="form-control"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" />
    <a href="#" ng-click="config.showForm = false">hide</a>
  </form>
  <uib-tabset active="active">
    <uib-tab index="0" heading="{{belinkoHeading}}">
      <belinko-reviews show-form="config.showForm" reviews="place.belinko_reviews"></belinko-reviews>
    </uib-tab>
    <uib-tab index="1" heading="{{googleHeading}}">
      <google-reviews reviews="place.reviews"></google-reviews>
    </uib-tab>
  </uib-tabset>
</div>
