<div>
  <img src="{{place.icon}}" />
  <h2>{{place.name}}</h2>
  <h3>{{place.formatted_address}}</h3>
  <i>{{place.formatted_address}}</i>
  <i>{{place.formatted_phone_number}}</i>
  <button class="btn btn-belinko-purple" 
          ng-click="showForm = true">Add Review</button>
  <form id="place-form" ng-show="showForm" ng-submit="submitReview()">
    <div class="form-group">
      <label>Comment</label>
      <textarea ng-model="review.comment"
                ng-required="true"
                class="form-control"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" />
    <a href="#" ng-click="showForm = false">hide</a>
  </form>
  <uib-tabset active="active">
    <uib-tab index="0" heading="{{belinkoHeading}}">
      <h1>TEST</h1>
      <belinko-reviews reviews="place.belinko_reviews"></belinko-reviews>
    </uib-tab>
    <uib-tab index="1" heading="{{googleHeading}}">
      <h1>TEST2</h1>
      <google-reviews reviews="place.reviews"></google-reviews>
    </uib-tab>
  </uib-tabset>
</div>
